In [19]:
class Database():
    id = []

In [20]:
def tens(val):
    ans = val/676000
    return toAlphaCode(ans)

In [21]:
def hundreds(val):
    ans = val/26000
    while(ans>26):
        ans = ans/26
    return toAlphaCode(ans)

In [22]:
def thousands(val):
    mod = val%1000
    tens = val - mod
    ans = tens/1000

    while(ans>26):
        ans = ans-26

    return toAlphaCode(ans)

In [23]:
def toAlphaCode(code):
    alpha = ''
    if ((code >= 0 and code <1) or code==26):
        alpha = 'A'
    elif (code >= 1 and code <2):
        alpha = 'B'
    elif (code >= 2 and code <3):
        alpha ='c'
    elif (code >= 3 and code <4):
        alpha ='D'
    elif (code >= 4 and code <5):
        alpha ='E'
    elif (code >= 5 and code <6):
        alpha ='F'
    elif (code >= 6 and code <7):
        alpha ='G'
    elif (code >= 7 and code <8):
        alpha = 'H'
    elif (code >= 8 and code <9):
        alpha = 'I'
    elif (code >= 9 and code <10):
        alpha = 'J'
    elif (code >= 10 and code <11):
        alpha = 'K'
    elif (code >= 11 and code <12):
        alpha = 'L'
    elif (code >= 12 and code <13):
        alpha = 'M'
    elif (code >= 13 and code <14):
        alpha = 'N'
    elif (code >= 14 and code <15):
        alpha = 'O'
    elif (code >= 15 and code <16):
        alpha = 'P'
    elif (code >= 16 and code <17):
        alpha = 'Q'
    elif (code >= 17 and code <18):
        alpha = 'R'
    elif (code >= 18 and code <19):
        alpha = 'S'
    elif (code >= 19 and code <20):
        alpha = 'T'
    elif (code >= 20 and code <21):
        alpha = 'U'
    elif (code >= 21 and code <22):
        alpha = 'V'
    elif (code >= 22 and code <23):
        alpha = 'W'
    elif (code >= 23 and code <24):
        alpha = 'X'
    elif (code >= 24 and code <25):
        alpha = 'Y'
    elif (code >= 25 and code <26):
        alpha = 'Z'
    
    return alpha

In [24]:
def toNumCode(val):
    mod = val%1000
    
    while(mod>1000):
        mod /= 1000
    return mod

In [25]:
# users = Database()

# for i in range(17,575,999):
#     users.id.append('A')

# for i in range(20):
#     print(users.id[i])

In [34]:
val = 345235
alphaCode = ''
numCode = ''

#letterCodes
alphaCode = tens(val) + hundreds(val) + thousands(val)

#NumberCodes
numCode = toNumCode(val)

if(len(str(numCode))==1):
    numCode = '00' + str(numCode)
elif(len(str(numCode))==2):
    numCode = '0' + str(numCode)

generatedID = alphaCode + str(numCode)

users = {}
users[val] = generatedID

# users.id[val] = generatedID

print(users[val])

ANH235

In [36]:
users[345235]

'ANH235'

In [37]:
users

{345235: 'ANH235'}